body {
      background-color: white;
      font-family: Helvetica;
      margin-top: 53px;
    }

.main-container {
    display: flex;
    }

.left-section {
    flex: 1;
    flex-shrink: 0.5;
    display: flex;
    justify-content: end;
    min-width: 72px;
    overflow: hidden;
}

.middle-section {
    width: 600px;
}

.right-section {
    width: 475px;
}
