.right-header {
    width: 100%;
    height: 49px;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 5;
}

.search-bar-container {
    position: relative;
    margin-top: 5px;
}

.search-bar {
    margin-left: 30px;
    width: 350px;
    height: 43px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 25px;
}

.search-bar::placeholder {
    padding-left: 30px;
    color: black;
}

.search-icon {
    position: absolute;
    width: 28px;
    height: 16px;
    top: 13px;
    left: 36px;
    fill: rgb(96, 96, 96);
}

.right-section-flexbox {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.sub-to-premium {
    margin-top: 12px;
    width: 316px;
    margin-left: 30px;
    border: 1px solid rgb(236, 236, 236);
    padding: 12px 16px;
    border-radius: 10px;
}

.heading {
    margin: 0px;
    font-weight: bold;
    font-size: 21px;
}

.sub-to-premium .heading {
    padding: 0px;
}

.body-prem {
    font-size: 15px;
}

.subscribe-button {
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    padding: 9px 17px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.subscribe-button:hover{
    background-color: rgb(26, 139, 213);
}

.heading {
    padding: 12px;
}

.news {
    width: 349px;
    margin-left: 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
    position: relative;
}

.close-button {
    position: absolute;
    width: 17px;
    top: 18px;
    right: 22px;
}

.news-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: background-color 0.15s;
    border: none;
}

.news-box:hover,
.trend-box:hover{
    background-color: rgb(247,247,247);
}

.news-box:last-child {
    padding-bottom: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.headline {
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

.news-headline {
    margin-bottom: 8px;
}

.news-details {
    display: flex;
    flex-direction: row;
}

.news-engagement {
    width: 22px;
    position: absolute;
    height: 22px;
    border-radius: 20px;
    border: 1.5px solid white;
    object-fit: cover;
}

.liked-by {
    position: relative;
}

.news-info {
    font-size: 13px;
    color: rgb(83, 100, 113);
    padding-top: 4px;
    padding-left: 60px;
}

.trending {
    width: 349px;
    margin-left: 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
}

.trend-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: background-color 0.15s;
    border: none;
}

.trend-box:last-child {
    padding-bottom: 0px;
}

.topics,
.post-count {
    font-size: 13px;
    color: rgb(83, 100, 113);
}

.hashtag {
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.more-button {
    position: absolute;
    width: 18px;
    top: 12px;
    right: 0px;
    fill: rgb(96, 96, 96);
}

.show-more {
    padding-left: 16px;
    padding-bottom: 16px;
    color: rgb(29, 161, 242);
    padding-top: 12px;
    cursor: pointer;
    transition: background-color 0.15s;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.show-more:hover{
    background-color: rgb(247,247,247);
}

.who-to-follow {
    width: 349px;
    margin-left: 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
}

.follow-box,
.pfp-box,
.follow-button-container {
    display: flex;
    align-items: center;
}


.follow-box {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;
    transition: background-color 0.15s;
    cursor: pointer;
}

.follow-box:hover{
    background-color: rgb(247,247,247);
}

.follow-box-pfp {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.name:hover{
    text-decoration: underline;
}

.name-div {
    display: flex;
    flex-direction: column;
}

.user-detail-box {
    margin-left: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user-adderss {
    color: rgb(83, 100, 113);
    display: block;
    font-size: 14.5px;
    margin: 0;
}

.follow-button {
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 78px;
    height: 32px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.follow-button:hover{
    background-color: rgb(40, 40, 40);
}

.tos-section {
    padding-left: 16px;
    width: 316px;
    margin-left: 30px;
    font-size: 11px;
    white-space: pre-line;
    line-height: 25px;
    color: rgb(83, 100, 113);
}

.tos-element {
    margin-right: 5px;
    margin-left: 7px;
    cursor: pointer;
}

.tos-element:hover{
    text-decoration: underline;
}

.tos-element:first-child {
    margin-left: 0px;
}

.pfp-box:hover .tool-tip{
    opacity: 1;
    pointer-events: auto;
    cursor: default;
    z-index: 2;
}

.pfp-box {
    position: relative;
}